<br></br>
<div style="text-align: center; font-size: 3em; color: darkblue"><strong>Glassdoor Reviews</strong></div>
<br></br>

<div style="background-color:#e8f4fd; padding:15px; border-left:6px solid #3498db; border-radius:4px;">
  <h2 style="margin-top:0; color:#2980b9;">About Glassdoor Company</h2>
  <hr style="border: 1px solid #3498db; margin-top:5px; margin-bottom:15px;">

Glassdoor is an American website where current and former employees anonymously review companies, operated by the company of the same name. Glassdoor launched its company ratings site in June 2008, and since then it produces reports based upon the data collected from its users, on topics including work–life balance, CEO pay-ratios, lists of the best office places and cultures, and the accuracy of corporate job searching maxims.
</div>

<div style="background-color:#e8f4fd; padding:15px; border-left:6px solid #3498db; border-radius:4px;">
  <h2 style="margin-top:0; color:#2980b9;">About the Dataset</h2>
  <hr style="border: 1px solid #3498db; margin-top:5px; margin-bottom:15px;">

The dataset is large, and it contains job descriptions and rankings among various criteria such as work-life balance, income, culture, etc. The data covers the various industries in the UK. Source: [Click here]("https://www.kaggle.com/datasets/davidgauthier/glassdoor-job-reviews")
</div>

<div style="background-color:#e8f4fd; padding:15px; border-left:6px solid #3498db; border-radius:4px;">
  <h2 style="margin-top:0; color:#2980b9;">Features of the Dataset</h2>
  <hr style="border: 1px solid #3498db; margin-top:5px; margin-bottom:15px;">

The columns correspond to the date of the review, the job name, the job location, the status of the reviewers, and the reviews. Reviews are divided in s sub-categories Career Opportunities, Comp & Benefits, Culture & Values, Senior Management, and Work/Life Balance. In addition, employees can add recommendations on the firm, the CEO, and the outlook.
</div>

<div style="background-color:#e8f4fd; padding:15px; border-left:6px solid #3498db; border-radius:4px;">
  <h2 style="margin-top:0; color:#2980b9;">Dictionary</h2>
  <hr style="border: 1px solid #3498db; margin-top:5px; margin-bottom:15px;">

<table style="width: 100%; border-collapse: collapse; background-color: #fff;">    
    <thead>
        <tr>
            <th style="background-color: #3498db; text-align: left; padding: 8px;">Feature</th>
            <th style="background-color: #3498db; text-align: left; padding: 8px;">Definition</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="padding: 8px;">Firm (str)</td>
            <td style="padding: 8px;">Name of the company being reviewed</td>
        </tr>
        <tr>
            <td style="padding: 8px;">Date Review (str)</td>
            <td style="padding: 8px;">Date the review was submitted</td>
        </tr>
        <tr>
            <td style="padding: 8px;">Job Title (str)</td>
            <td style="padding: 8px;">Job title of the reviewer</td>
        </tr>
        <tr>
            <td style="padding: 8px;">Employment Status (str)</td>
            <td style="padding: 8px;">Employment status: whether the reviewer is a current or former employee</td>
        </tr>
        <tr>
            <td style="padding: 8px;">Location (str)</td>
            <td style="padding: 8px;">Geographic location of the job being reviewed</td>
        </tr>
        <tr>
            <td style="padding: 8px;">Overall Rating (int)</td>
            <td style="padding: 8px;">Overall rating of the company on a scale from 1 (worst) to 5 (best)</td>
        </tr>
        <tr>
            <td style="padding: 8px;">Work-Life Balance (int)</td>
            <td style="padding: 8px;">Rating of the company's support for work-life balance on a scale from 1 (worst) to 5 (best)</td>
        </tr>
        <tr>
            <td style="padding: 8px;">Culture & Values (int)</td>
            <td style="padding: 8px;">Rating of company culture and core values on a scale from 1 (worst) to 5 (best)</td>
        </tr>
        <tr>
            <td style="padding: 8px;">Diversity & Inclusion (int)</td>
            <td style="padding: 8px;">Rating of the company’s commitment to diversity and inclusion on a scale from 1 (worst) to 5 (best)</td>
        </tr>
        <tr>
            <td style="padding: 8px;">Career Opportunities (int)</td>
            <td style="padding: 8px;">Rating of the availability of career advancement opportunities on a scale from 1 (worst) to 5 (best)</td>
        </tr>
        <tr>
            <td style="padding: 8px;">Compensation & Benefits (int)</td>
            <td style="padding: 8px;">Rating of compensation (salary) and benefits (insurance, perks, etc.) on a scale from 1 (worst) to 5 (best)</td>
        </tr>
        <tr>
            <td style="padding: 8px;">Senior Management (int)</td>
            <td style="padding: 8px;">Rating of the quality and trust in senior leadership/management on a scale from 1 (worst) to 5 (best)</td>
        </tr>
        <tr>
            <td style="padding: 8px;">Recommend to Friend (str)</td>
            <td style="padding: 8px;">Whether the employee would recommend the company to a friend (positive/mild/negative/no opinion)</td>
        </tr>
        <tr>
            <td style="padding: 8px;">CEO Approval (str)</td>
            <td style="padding: 8px;">Whether the employee approves of the CEO’s leadership (positive/mild/negative/no opinion)</td>
        </tr>
        <tr>
            <td style="padding: 8px;">Outlook (str)</td>
            <td style="padding: 8px;">The employee’s outlook on the future of the company (positive/mild/negative/no opinion)</td>
        </tr>
        <tr>
            <td style="padding: 8px;">Headline (str)</td>
            <td style="padding: 8px;">Title or summary line of the review</td>
        </tr>
        <tr>
            <td style="padding: 8px;">Pros (str)</td>
            <td style="padding: 8px;">Positive aspects of the job or company, written by the reviewer</td>
        </tr>
        <tr>
            <td style="padding: 8px;">Cons (str)</td>
            <td style="padding: 8px;">Negative aspects or criticisms, written by the reviewer</td>
        </tr>
    </tbody>
</table>

</div>

<div style="background-color:#ffe5e0; padding:15px; border-left:6px solid #e67e22; border-radius:4px;">
  <h2 style="margin-top:0; color:#e67e22;">Problem</h2>
  <hr style="border: 1px solid #e67e22; margin-top:5px; margin-bottom:15px;">

<ol>
    <li>What is the distribution of overall ratings?</li>
    <li>What is the average rating across all companies?</li>
    <li>Which companies have the highest and lowest average ratings?</li>
    <li>What are the average scores for:</li>
    <ul>
        <li>Work-life balance</li>
        <li>Culture and values</li>
        <li>Career opportunities</li>
        <li>Compensation and benefits</li>
        <li>Senior management</li>
    </ul>
    <li>Which job titles have the highest and lowest average ratings?</li>
    <li>How do the top 5 most-reviewed companies compare in each of the sub-ratings?</li>
    <li>Which company has the highest positive recommendation percentage?</li>
    <li>Is there a correlation between overall rating and recommend?</li>
    <li>What is the proportion of current and former employees in the dataset?</li>
</ol>
</div>

<div style="background-color:#fff9e6; padding:15px; border-left:6px solid #f39c12; border-radius:4px;">
  <h2 style="margin-top:0; color:#f39c12;">Important Notes</h2>
  <hr style="border: 1px solid #f39c12; margin-top:5px; margin-bottom:15px;">

-	Although we can extract trends over time and regional differences using the <code>date_review</code> and <code>location</code> columns, we are not aiming to analyze time and geography. Hence, and for the sake of simplicity of this project, we will be ignoring those columns.
-	The <code>diversity_inclusion</code> rating column will be dropped off the dataset as it is missing 84% values. The company has added this rating by the mid of 2020, which only covers a small portion of our dataset.
-	We are not aiming to process open text questions and extract insights from written words, and hence the <code>headline</code>, <code>pros</code>, and <code>cons</code> columns will be ignored.
-	With the selected columns that we will be working on, it was decided that any row with missing value will be dropped. Such data like ratings cannot be imputed or auto filled. 

</div>

<div style="background-color:#fff9e6; padding:15px; border-left:6px solid #f39c12; border-radius:4px;">
  <h2 style="margin-top:0; color:#f39c12;">Improvements</h2>
  <hr style="border: 1px solid #f39c12; margin-top:5px; margin-bottom:15px;">

-	Explain how ratings vary by location.
-	Extract insights about the average rate plot over time.
-	Find the most common pros and cons for each firm.

</div>

<div style="background-color:#eafaf1; padding:15px; border-left:6px solid #27ae60; border-radius:4px;">
  <h2 style="margin-top:0; color:#27ae60;">Part 1: Exploring the Data</h2>
</div>

In [1]:
# Set the working directory
import os
os.chdir('..')

In [2]:
# Import pandas and numpy libraries
import pandas as pd
import numpy as np

In [3]:
# Read the data
df = pd.read_csv('data/raw/glassdoor_reviews.csv')

In [4]:
# View the data
df.head()

,firm,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt,recommend,ceo_approv,outlook,headline,pros,cons
0,AFH-Wealth-Management,2015-04-05,,Current Employee,NaN,2,4.0,3.0,NaN,2.0,3.0,3.0,x,o,r,"Young colleagues, poor micro management",Very friendly and welcoming to new staff. Easy...,"Poor salaries, poor training and communication."
1,AFH-Wealth-Management,2015-12-11,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",2,3.0,1.0,NaN,2.0,1.0,4.0,x,o,r,"Excellent staff, poor salary","Friendly, helpful and hard-working colleagues",Poor salary which doesn't improve much with pr...
2,AFH-Wealth-Management,2016-01-28,Office Administrator,"Current Employee, less than 1 year","Bromsgrove, England, England",1,1.0,1.0,NaN,1.0,1.0,1.0,x,o,x,"Low salary, bad micromanagement",Easy to get the job even without experience in...,"Very low salary, poor working conditions, very..."
3,AFH-Wealth-Management,2016-04-16,,Current Employee,NaN,5,2.0,3.0,NaN,2.0,2.0,3.0,x,o,r,Over promised under delivered,Nice staff to work with,No career progression and salary is poor
4,AFH-Wealth-Management,2016-04-23,Office Administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",1,2.0,1.0,NaN,2.0,1.0,1.0,x,o,x,client reporting admin,"Easy to get the job, Nice colleagues.","Abysmal pay, around minimum wage. No actual tr..."

In [5]:
# Find the shape of the dataframe (number of rows and columns)
df.shape

(838566, 18)

In [6]:
# Identify the columns' names
df.columns

Index(['firm', 'date_review', 'job_title', 'current', 'location',
       'overall_rating', 'work_life_balance', 'culture_values',
       'diversity_inclusion', 'career_opp', 'comp_benefits', 'senior_mgmt',
       'recommend', 'ceo_approv', 'outlook', 'headline', 'pros', 'cons'],
      dtype='object')

In [7]:
# Identify the type of each column
df.dtypes

firm                    object
date_review             object
job_title               object
current                 object
location                object
overall_rating           int64
work_life_balance      float64
culture_values         float64
diversity_inclusion    float64
career_opp             float64
comp_benefits          float64
senior_mgmt            float64
recommend               object
ceo_approv              object
outlook                 object
headline                object
pros                    object
cons                    object
dtype: object

In [8]:
# Count non-null values in each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838566 entries, 0 to 838565
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   firm                 838566 non-null  object
 1   date_review          838566 non-null  object
 2   job_title            838566 non-null  object
 3   current              838566 non-null  object
 4   location             541223 non-null  object
 5   overall_rating       838566 non-null  int64
 6   work_life_balance    688672 non-null  float64
 7   culture_values       647193 non-null  float64
 8   diversity_inclusion  136066 non-null  float64
 9   career_opp           691065 non-null  float64
 10  comp_benefits        688484 non-null  float64
 11  senior_mgmt          682690 non-null  float64
 12  recommend            838566 non-null  object
 13  ceo_approv           838566 non-null  object
 14  outlook              838566 non-null  object
 15  headline             835976 non-null  object
 16  pros                 838564 non-null  object
 17  cons                 838553 non-null  object
dtypes: float64(6), int64(1), object(11)
memory usage: 115.2+ MB

In [9]:
# Count null values in each column
df.isnull().sum()

firm                        0
date_review                 0
job_title                   0
current                     0
location               297343
overall_rating              0
work_life_balance      149894
culture_values         191373
diversity_inclusion    702500
career_opp             147501
comp_benefits          150082
senior_mgmt            155876
recommend                   0
ceo_approv                  0
outlook                     0
headline                 2590
pros                        2
cons                       13
dtype: int64

In [10]:
# Explore the descriptive statistics of the numeric columns
df.describe()

,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt
count,838566.000000,688672.000000,647193.000000,136066.000000,691065.000000,688484.000000,682690.000000
mean,3.655956,3.375735,3.590164,3.966612,3.461825,3.398109,3.176576
std,1.174684,1.305874,1.323280,1.190937,1.271295,1.218738,1.330720
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.000000,2.000000,3.000000,3.000000,3.000000,3.000000,2.000000
50%,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,3.000000
75%,5.000000,4.000000,5.000000,5.000000,5.000000,4.000000,4.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [11]:
# Explore the descriptive statistics of the non-numeric columns
df.describe(include = 'object')

,firm,date_review,job_title,current,location,recommend,ceo_approv,outlook,headline,pros,cons
count,838566,838566,838566,838566,541223,838566,838566,838566,835976,838564,838553
unique,428,4813,62275,29,14486,3,4,4,390454,778559,777133
top,IBM,2021-01-13,Anonymous Employee,Current Employee,"London, England, England",v,o,v,Good,Great company to work for,None that I can think of
freq,60436,1761,162649,209599,58665,427865,311433,301413,14300,720,1156

<div style="background-color:#eafaf1; padding:15px; border-left:6px solid #27ae60; border-radius:4px;">
  <h2 style="margin-top:0; color:#27ae60;">Part 2: Processing the Data</h2>
</div>

<div style="background-color:#f3eafc; padding:15px; border-left:6px solid #8e44ad; border-radius:4px;">
  <h3 style="margin-top:0; color:#8e44ad;">Processing <code>firm</code> Column</h3>
</div>

In [12]:
# find unique values
df['firm'].unique()

array(['AFH-Wealth-Management', 'AJ-Bell', 'ALDI', 'AQA', 'ASDA', 'ASOS',
       'AXA-UK', 'Abcam',
       'Abertawe-Bro-Morgannwg-University-Health-Board', 'Accenture',
       'Accor', 'Achieving-for-Children', 'ActionCOACH',
       'Active-Care-Group', 'Adecco', 'Age-UK-The-National-Charity',
       'AlixPartners', 'American-Express', 'Amey', 'Angard-Staffing',
       'Anglian-Water', 'Anglo-American',
       'Animal-and-Plant-Health-Agency', 'Aon', 'Apple', 'Arcadia',
       'Arnold-Clark', 'AstraZeneca', 'Aviva', 'B-and-M-Retail',
       'B-and-Q', 'BAT', 'BBC', 'BDO', 'BHS', 'BIS', 'BNP-Paribas',
       'BNY-Mellon', 'BP', 'BPP-Holdings', 'BT',
       'Babcock-International-Group', 'Babylon-Health',
       'Bain-and-Company', 'Balfour-Beatty', 'Bannatyne-Group',
       'Barchester-Healthcare', 'Barclays', 'Barnardo-s',
       'Barnet-and-Chase-Farm-Hospitals-NHS-Trust', 'Barnett-Waddingham',
       'Barratt-Developments', 'Barts-Health-NHS-Trust',
       'BayWa-r-e-renewable-energy', 'Bayer', 'Best-Western',
       'Betsi-Cadwaladr-University-Health-Board',
       'Bill-and-Melinda-Gates-Foundation', 'Birkbeck-College',
       'Birmingham-City-University', 'Bloomberg-L-P', 'Blue-Arrow',
       'Blue-Yonder', 'Booking-com', 'Boots', 'Boots-Opticians',
       'Boston-Consulting-Group', 'Brewin-Dolphin', 'British-Airways',
       'British-Red-Cross', 'Brook-Street', 'Bullhorn', 'Bupa',
       'Burberry', 'CBRE', 'CVS-Group', 'Cambridge-Assessment', 'Capita',
       'Capital-Group', 'CarShop-UK', 'Cardiff-University', 'Care-UK',
       'Career-Legal', 'Christie-s', 'Cisco-Systems', 'Citi',
       'Citizens-Advice', 'CityFibre', 'Civil-Service-United-Kingdom',
       'Co-op', 'Colosseum-Dental', 'Colt-Technology-Services',
       'Communities-and-Local-Government', 'Companies-House',
       'Compass-Group', 'Cougar-Mountain', 'Countrywide-plc',
       'Covea-Insurance', 'Coventry-University', 'Creative-Support',
       'Cromwell-Tools', 'Crown-Prosecution-Service',
       'Crowne-Plaza-Hotels-and-Resorts', 'Curtis-Banks',
       'Cushman-and-Wakefield', 'Cygnet-Health-Care', 'DFID',
       'DFS-Furniture', 'DHL-Supply-Chain', 'DPDgroup', 'DWF',
       'Dalata-Hotel-Group', 'David-Lloyd-Leisure', 'Debenhams',
       'Deloitte', 'Department-for-Work-And-Pensions',
       'Department-of-Health-UK', 'Deutsche-Bank', 'Diageo', 'Diligenta',
       'Dixons-Carphone', 'Doubletree-By-Hilton', 'Durham-County-Council',
       'Dynatrace', 'EBRD', 'ENABLE-Scotland', 'ENGIE', 'EY',
       'East-Sussex-County-Council', 'Egon-Zehnder',
       'Engineering-and-Physical-Sciences-Research-Council', 'Equiniti',
       'Eversheds-Sutherland', 'Everyone-Active', 'FARFETCH', 'FYXER',
       'Facebook', 'FirstPort', 'Foreign-and-Commonwealth-Office',
       'Four-Seasons-Health-Care', 'Foxtons',
       'Freshfields-Bruckhaus-Deringer', 'GLL',
       'GTR-Govia-Thameslink-Railway', 'Gateley', 'Gi-Group',
       'GlaxoSmithKline', 'Goldman-Sachs', 'Google', 'Grange-Hotels',
       'Grant-Thornton', 'Grant-Thornton-UK-LLP', 'Grosvenor-Casinos',
       'Guardian-News-and-Media',
       'Guy-s-and-St-Thomas-NHS-Foundation-Trust', 'Gymbox', 'H-and-M',
       'HC-One', 'HM-Courts-and-Tribunals-Service', 'HM-Prison-Service',
       'HM-Treasury', 'HMCTS', 'HSBC-Holdings',
       'Hampshire-County-Council', 'Harris-Federation', 'Harrods',
       'Harvey-Nichols', 'Hastings-Direct', 'Hays',
       'Health-Education-England', 'Health-Protection-Agency',
       'Her-Majesty-s-Revenue-and-Customs', 'Hilton',
       'Hitachi-Capital-UK', 'Holiday-Inn', 'Holiday-Inn-Express',
       'Home-Group', 'Home-Office', 'Hyatt', 'IBM',
       'IHG-Hotels-and-Resorts', 'ISS-Facility-Services',
       'Immediate-Media-Company', 'Imperial-College-London', 'Indeed',
       'Intelligent-Office-UK', 'Interserve', 'Iron-Mountain-Inc',
       'Irwin-Mitchell', 'J-P-Morgan', 'J-Sainsbury', 'JLL', 'JLT-Group',
       'JP-Boden-and-Co', 'Jaguar-Land-Rover', 'James-Hay-Partnership',
       'John-Lewis-and-Partners', 'Jurys-Inns', 'KKR', 'KPMG',
       'Kent-County-Council', 'Kier-Group', 'King-s-College-London',
       'Kingsley-Healthcare', 'Knight-Frank', 'Korn-Ferry', 'Kurt-Geiger',
       'LGT-Group', 'LSE', 'LV', 'Lancaster-University',
       'Latham-and-Watkins', 'Leaders-Romans-Group', 'Leeds-City-Council',
       'Legal-and-General', 'Leonardo-Hotels', 'Lidl', 'Link-Group',
       'LinkedIn', 'Lloyds-Banking-Group', 'London-Underground',
       'Loughborough-University', 'Macdonald-Hotels-and-Resorts',
       'Malmaison', 'Manchester-Metropolitan-University', 'Manpower',
       'Marks-and-Spencer', 'Marriott-International', 'Mastercard',
       'McDonald-s', 'McKinsey-and-Company', 'Mears', 'Mercer',
       'Met-Office', 'Metro-Bank', 'Michelmores', 'Microsoft',
       'Ministry-of-Justice-UK', 'Missguided', 'Mitie', 'Moneypenny',
       'Morgan-Stanley', 'Morrisons', 'Mountain-Warehouse', 'MyCSP',
       'NHS', 'NHS-England', 'NHS-Professionals', 'NPSA',
       'Nando-s-UK-and-IRE',
       'National-Institute-for-Health-and-Care-Excellence',
       'National-Offender-Management-Service', 'National-Star',
       'Nationwide-Building-Society', 'Network-Rail', 'New-Look',
       'Newcastle-Upon-Tyne-Hospitals-NHS',
       'North-Yorkshire-County-Council', 'Northern-Gas-and-Power',
       'Northern-Ireland-Civil-Service', 'Novotel-Hotels',
       'Nuffield-Health', 'Odgers-Berndtson', 'Office-Angels',
       'Office-Concierge', 'Office-for-National-Statistics',
       'Office-of-Rail-Regulation', 'Oliver-Bonas', 'Oliver-Wyman',
       'Oracle', 'Orbit-Group', 'Ordnance-Survey', 'Oxford-University',
       'Oxford-University-Press', 'Pearson', 'Penderels-Trust',
       'Penguin-Random-House', 'People-Group', 'Pertemps', 'Pizza-Hut',
       'Portico', 'Post-Office', 'Premier-Inn', 'Primark', 'Priory-Group',
       'Public-Health-England', 'PwC', 'Queen-s-University-Belfast',
       'REED', 'RSM', 'RWE-Supply-and-Trading', 'Radisson-Hotel-Group',
       'Randstad', 'Rapport-London', 'Rathbone-Brothers', 'Reassured',
       'Rendall-and-Rittner', 'Rentokil-Initial', 'River-Island-Clothing',
       'Robert-Walters', 'Roche', 'Rodericks-Dental', 'Royal-Mail',
       'Rural-Payments-Agency', 'Ryan-LLC', 'SAP', 'SSE', 'Sage',
       'Sainsbury-s', 'Salesforce', 'Sanctuary-Group', 'Santander',
       'Savills', 'ScS-Sofas', 'Scottish-Courts-and-Tribunals-Service',
       'Scottish-Government', 'Scottish-Widows', 'Search-Consultancy',
       'Serco-Group', 'Skipton-Building-Society', 'Sky', 'Sodexo',
       'Somerset-County-Council',
       'Somerset-Partnership-NHS-Foundation-Trust', 'Sotheby-s',
       'Southern-Health-and-Social-Care-Trust', 'Specsavers',
       'Spire-Healthcare', 'Sport-England', 'Square-Enix',
       'St-James-s-Place-Wealth-Management', 'Standard-Life-Aberdeen',
       'Student-Loans-Company', 'Surrey-County-Council', 'Sytner', 'TLT',
       'TUI-Group', 'Tate', 'Tate-Recruitment', 'Taylor-Wimpey',
       'Tengizchevroil', 'Tesco', 'The-Access-Group-UK',
       'The-British-Army',
       'The-Church-of-Jesus-Christ-of-Latter-day-Saints',
       'The-Coal-Authority', 'The-Department-for-Education-UK',
       'The-Ivy-Collection', 'The-London-Clinic', 'The-National-Gallery',
       'The-Open-University', 'The-Range',
       'The-Royal-Marsden-NHS-Foundation-Trust', 'The-Salvation-Army',
       'The-Survey-Association', 'The-White-Company', 'Thomas-Cook',
       'Thomson-Reuters', 'Time-Etc', 'Topshop', 'Tower-Hamlets-Council',
       'Transport-for-London', 'Travelodge-Hotels-UK', 'UHMBT',
       'UK-Atomic-Energy-Authority', 'UK-Border-Agency',
       'UK-Ministry-of-Defence', 'UKCIL', 'Unilever', 'United-Utilities',
       'Unity-Technologies', 'University-College-London',
       'University-College-London-Hospitals',
       'University-Hospitals-of-Leicester', 'University-of-Bath',
       'University-of-Birmingham', 'University-of-Bradford',
       'University-of-Bristol', 'University-of-Cambridge',
       'University-of-Durham', 'University-of-Edinburgh',
       'University-of-Glasgow', 'University-of-Huddersfield',
       'University-of-Hull', 'University-of-Leeds',
       'University-of-Leicester', 'University-of-Liverpool',
       'University-of-Manchester', 'University-of-Michigan',
       'University-of-Newcastle-UK', 'University-of-Nottingham',
       'University-of-Reading', 'University-of-Sheffield',
       'University-of-Southampton', 'University-of-Strathclyde',
       'University-of-Warwick', 'University-of-York',
       'University-of-the-Arts-London',
       'University-of-the-West-of-England', 'VMware',
       'Valuation-Office-Agency', 'Veolia', 'Vets-Now', 'Vets4Pets',
       'Virgin-Active', 'Virgin-Media', 'Vodafone', 'WHSmith',
       'WLT-Group', 'Waitrose', 'Wakefield-Council',
       'Wellington-Management', 'West-Sussex-County-Council',
       'Western-Health-and-Social-Care-Trust', 'Whitbread',
       'Willis-Towers-Watson', 'Willmott-Dixon', 'Wipro', 'Wise',
       'Workday', 'XPO-Logistics', 'XPS-Pensions-Group',
       'YOOX-NET-A-PORTER-GROUP', 'i-Net-Solution', 'ibis',
       'mydentist-UK', 'next', 'the-LEGO-Group'], dtype=object)

In [13]:
# Count unique values
df['firm'].nunique()

428

In [14]:
# Remove whitespaces (if any)
df['firm'] = df['firm'].str.strip()

<div style="background-color:#f3eafc; padding:15px; border-left:6px solid #8e44ad; border-radius:4px;">
  <h3 style="margin-top:0; color:#8e44ad;">Processing <code>date_review</code> Column</h3>
</div>

In [15]:
# We have noticed some coded dates. 
# Convert the date to datetime format
df['date_review'] = pd.to_datetime(df['date_review'], errors='coerce')

In [16]:
# Find start date
df['date_review'].min()

Timestamp('2008-01-31 00:00:00')

In [17]:
# Find end date
df['date_review'].max()

Timestamp('2021-06-08 00:00:00')

<div style="background-color:#f3eafc; padding:15px; border-left:6px solid #8e44ad; border-radius:4px;">
  <h3 style="margin-top:0; color:#8e44ad;">Processing <code>job_title</code> Column</h3>
</div>

In [18]:
# Find unique values
df['job_title'].unique()

array([' ', ' Office Administrator', ' IFA', ...,
       ' Seasonal Ride Operator/Attendant', ' Service Employee',
       ' Senior Experience Designer'], dtype=object)

In [19]:
# Count unique values
df['job_title'].nunique()

62275

In [20]:
# Remove whitespaces
df['job_title'] = df['job_title'].str.strip()

In [21]:
df['job_title']

0
1                    Office Administrator
2                    Office Administrator
3
4                    Office Administrator
                       ...
838561                  Marketing Manager
838562                    Sales Associate
838563                         Strategist
838564    Customer Service Representative
838565         Human Resources Specialist
Name: job_title, Length: 838566, dtype: object

In [22]:
df['job_title'] = df['job_title'].str.lower()

In [23]:
null_titles = [
    '"20 hours"',
    '"dedicated to enjoyment" most of the time : )',
    '"good place to work"',
    '"myadmin concierge"',
    "'anonymous'",
    "'here to help' team",
    '"management"',
    '"sales"',
    '"digital"',
    '&quot; vp&quot; of business development',
    'zzz',
    'a bit of everything',
    'worst company about policies',
    'worst company ever',
    '',
    'aaaa',
    'aaaaa',
    'about me',
    'a day in the life',
    'a c',
    'a great place to work',
    'yes',
    'worst place to work'
]

df['job_title'] = df['job_title'].replace(null_titles, np.nan)

In [24]:
fix_titles = {
    '"salesmanager"': "sales manager",
    '"brick specialist"': "brick specialist",
    '"hr executive': "hr executive",
    '"server"': "server",
    '"shift manager"': "shift manager",
    '"team leader"': "team leader",
    '"vp" of business development': "vp of business development",
    "'supervising' sales assistant": "supervising sales assistant",
    '( car park attendant)trolley jockey)': "car park attendant / trolley jockey",
    '(aha) mac+ tier i technical support': "mac+ tier i technical support",
    '(christmas) customer assistant': "customer assistant (christmas)",
    '(devops/azure/cloud engineer': "devops / azure / cloud engineer",
    '(headoffice role)': "head office role",
    'sales, marketing and business intelligence analyst': 
        "sales & marketing and business intelligence analyst",
    'apecialist':'specialist',
    'multi skilled': 'multi skilled agent',
    'a g m': 'general manager',
    'a engineer': 'engineer',
    'filed sales executive': 'field sales executive',
    'abm': 'account-based marketing',
    'aba': 'applied behaviour analysis',
    'aa advisor aha': 'help advisor',
    'wpr in cisco': 'wireless performance reporting',
    'operario de producci n': 'production operator'
}

df['job_title'] = df['job_title'].replace(fix_titles)

In [25]:
df['job_title'] = df['job_title'].replace(r'[^A-Za-z\s]', np.nan, regex=True)

In [26]:
df['job_title'].unique()

array([nan, 'office administrator', 'ifa', ..., 'functional lead',
       'service employee', 'senior experience designer'], dtype=object)

In [27]:
df['job_title'].nunique()

52602

<div style="background-color:#f3eafc; padding:15px; border-left:6px solid #8e44ad; border-radius:4px;">
  <h3 style="margin-top:0; color:#8e44ad;">Processing <code>current</code> Column</h3>
</div>

In [28]:
df['current'].unique()

array(['Current Employee', 'Current Employee, more than 1 year',
       'Current Employee, less than 1 year', 'Former Employee',
       'Current Employee, more than 5 years',
       'Former Employee, more than 1 year',
       'Former Employee, more than 3 years',
       'Former Employee, more than 5 years',
       'Current Employee, more than 3 years',
       'Current Employee, more than 8 years',
       'Former Employee, less than 1 year',
       'Former Employee, more than 8 years',
       'Current Employee, more than 10 years',
       'Former Employee, more than 10 years',
       'Former Contractor, less than 1 year',
       'Former Intern, less than 1 year',
       'Current Contractor, less than 1 year', 'Former Contractor',
       'Former Intern, more than 1 year', 'Current Contractor',
       'Former Intern', 'Current Intern, less than 1 year',
       'Current Contractor, more than 1 year',
       'Former Contractor, more than 1 year',
       'Former Contractor, more than 8 years',
       'Former Temporary Employee',
       'KEY NOT FOUND: jobLine.per_diem-former',
       'Current Freelancer, more than 3 years',
       'KEY NOT FOUND: jobLine.temporary-former'], dtype=object)

In [29]:
df['current'].nunique()

29

In [30]:
df['current'] = df['current'].replace('KEY NOT FOUND: jobLine.per_diem-former', np.nan, regex=False)

In [31]:
df['current'] = df['current'].replace('KEY NOT FOUND: jobLine.temporary-former', np.nan, regex=False)

<div style="background-color:#f3eafc; padding:15px; border-left:6px solid #8e44ad; border-radius:4px;">
  <h3 style="margin-top:0; color:#8e44ad;">Processing <code>location</code> Column</h3>
</div>

In [32]:
df['location'].unique()

array([nan, 'Bromsgrove, England, England', 'Century City, CA', ...,
       'Vejle', 'Lainate', 'Wijnegem, Antwerp'], dtype=object)

In [33]:
df['location'].nunique()

14486

In [34]:
df['location'] = df['location'].str.strip()

In [35]:
df['location'] = df['location'].replace('nan', np.nan, regex=False)

In [36]:
df['location'] = df['location'].replace('NaN', np.nan, regex=False)

<div style="background-color:#f3eafc; padding:15px; border-left:6px solid #8e44ad; border-radius:4px;">
  <h3 style="margin-top:0; color:#8e44ad;">Handling Missing Values</h3>
</div>

In [37]:
# drop rows with missing values in key columns
columns = ['firm', 'job_title', 'current',
        'overall_rating', 'work_life_balance', 'culture_values', 
        'career_opp', 'comp_benefits', 'senior_mgmt',
        'recommend', 'ceo_approv', 'outlook']

df.dropna(subset = columns, inplace = True)

In [38]:
# drop the diversity_inclusion column
df.drop(columns = ['diversity_inclusion'], inplace = True)

In [39]:
# Reset the index after dropping rows
df.reset_index(drop=True, inplace=True)

<div style="background-color:#f3eafc; padding:15px; border-left:6px solid #8e44ad; border-radius:4px;">
  <h3 style="margin-top:0; color:#8e44ad;">Save the Processed Data</h3>
</div>

In [40]:
df.head()

,firm,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,career_opp,comp_benefits,senior_mgmt,recommend,ceo_approv,outlook,headline,pros,cons
0,AFH-Wealth-Management,2015-12-11,office administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",2,3.0,1.0,2.0,1.0,4.0,x,o,r,"Excellent staff, poor salary","Friendly, helpful and hard-working colleagues",Poor salary which doesn't improve much with pr...
1,AFH-Wealth-Management,2016-01-28,office administrator,"Current Employee, less than 1 year","Bromsgrove, England, England",1,1.0,1.0,1.0,1.0,1.0,x,o,x,"Low salary, bad micromanagement",Easy to get the job even without experience in...,"Very low salary, poor working conditions, very..."
2,AFH-Wealth-Management,2016-04-23,office administrator,"Current Employee, more than 1 year","Bromsgrove, England, England",1,2.0,1.0,2.0,1.0,1.0,x,o,x,client reporting admin,"Easy to get the job, Nice colleagues.","Abysmal pay, around minimum wage. No actual tr..."
3,AFH-Wealth-Management,2016-05-26,office administrator,"Current Employee, less than 1 year",NaN,3,4.0,2.0,2.0,3.0,2.0,o,r,r,Office administrator,Some good people to work with.\n\nFlexible wor...,Morale.\n\nLack of managerial structure.\n\nDo...
4,AFH-Wealth-Management,2016-09-23,ifa,Former Employee,"Bromsgrove, England, England",1,1.0,1.0,1.0,1.0,1.0,x,o,r,It horrible management,Good investment management strategy. Overall t...,The management and seniors are ruthless. No tr...

In [41]:
df.shape

(577992, 17)

In [42]:
df.isnull().sum()

firm                      0
date_review               0
job_title                 0
current                   0
location             157709
overall_rating            0
work_life_balance         0
culture_values            0
career_opp                0
comp_benefits             0
senior_mgmt               0
recommend                 0
ceo_approv                0
outlook                   0
headline               1267
pros                      2
cons                      8
dtype: int64

In [43]:
df.to_csv("data/processed/processed_glassdoor.csv", index=False)